*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: white;
    list-style: none;
    transition:all .4s ease-in-out;
    
}

header{
    padding: 15px 25px; 
    display: flex;
    justify-content: space-between;
    background-image: url(img/pngegg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

main{
    padding: 15px 40px;
    display: flex;
    align-items: center;
    gap: 50%;
    background-image: url(img/fondo\ negro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    padding: 25px 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listado2{
    display: flex;
    align-items: center;
    gap: 25px;
    display: table-column;
}


.imagen1{
    padding: 5px 10px 10px 40px;
    gap: 20px;
    cursor: move;
    box-shadow: 15px 15px 25px rgb(41, 16, 181);

}

.imagen1:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px rgb(41, 16, 181);
    -webkit-box-shadow: 0px 0px 15px 15px rgb(41, 16, 181);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.listado1{
    display: flex;
    align-items: center;
    gap: 10px;
}


#Sobre_Mi{
    padding: 10px 50px 20px;
    background-image: url(img/pngegg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    
}
    
#Hobbies{
    padding: 4px 50px 20px;
    background-image: url(img/fondo\ negro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 20px;

}

.Hobbies1{
   gap: 20px;
   display: table-column;

}

#Proyecto_de_vida{
    padding: 10px 50px 20px;
    background-image: url(img/pngegg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 25px;
    
}

#Libros_Recomendados{
    padding: 10px 50px 20px;
    background-image: url(img/fondo\ negro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 25px;

}

.libros{
    display: flex;
    align-items: center;
    gap: 25px;

}

.libros:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.horizontal{
    padding: 19px 30px 60px 1px;
    gap: 7px;
    overflow-y: hidden;
    overflow-x: scroll;
    display:flex;
    width: 1100px;
    height: 150px;
    box-shadow: 10px 5px 12px rgb(41, 16, 181);
    cursor: move;
                  
}

html {
    scroll-behavior: smooth;
}




